@model MockSchoolManagement.ViewModels.HomeDetailsViewModel

@{

    ViewBag.Title = "内容详情页";
}


<div>
    姓名：@Model.Student.Name
</div>

<div>
    Email：@Model.Student.Email
</div>

<div>
    科目：@Model.Student.Major
</div>

@section Scripts
{
    <script src="~/js/CustomScript.js"></script>
}







