@model MockSchoolManagement.ViewModels.HomeDetailsViewModel
<!DOCTYPE html>
<html>
<head>
    <title>@Model.PageTitle </title>
</head>
<body>

    <div>
        姓名：@Model.Student.Name
    </div>

    <div>
        Email：@Model.Student.Email
    </div>

    <div>
        科目：@Model.Student.Major
    </div>


</body>
</html>


