<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/twitter-bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>


    @*
        方法一：加判断
        @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }*@

    @*方法二*@
    @RenderSection("Scripts", required: false)
</body>

</html>
